{% extends 'base.html' %}
<h1>{% block title %}Home Page{% endblock %}</h1>

<body class="mx-auto">
  {% block content %}
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="login-section">
        <h1>Hello {{user.user_name}}!</h1>
        <h4>Your balance: ${{user.balance}}</h6>
          <div class="links">
            <a class="btn btn-primary" id="create-listing-btn" href="/create_listing" role="button">Create Listing</a>
            <a class="btn btn-primary" id="show-listing-btn" href="/listing" role="button">Listings</a>
            <a class="btn btn-primary" id="update-profile-btn" href="/update_profile" role="button">Update Profile</a>
            <a class="btn btn-primary" id="logout-btn" href="/logout" role="button">Logout</a>
          </div>
      </div>
      <h1>{{message}}</h1>
      <div class="booking-section">
        <h1 id="h1book">Your bookings:</h1>
        <hr>
        <div class="container">
          <div class="inner-container">
            {% for listing in final_listing %}
            <h5> Title: {{ listing.title }} </h5>
            <hr>
            {% endfor %}
          </div>
          <div class="inner-container">
            {% for booking in bookings %}
            <h5> Price: ${{ booking.price }} </h5>
            <hr>
            {% endfor %}
          </div>
          <div class="inner-container">
            {% for booking in bookings %}
            <h5> Date: {{ booking.date }}</h5>
            <hr>
            {% endfor %}
          </div>

        </div>
        <div class="booking-btn">
          <a class="btn btn-primary" id="view-booking-btn" href="/bookings" role="button">View Available
            Listings</a>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  </div>
  {% endblock %}
</body>